*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
   
}
.navigation ul{
   display: flex;
   list-style: none;
   justify-content:space-between;
   align-items: center;
   border:1px solid black;
   height: 80px;
   background-color: #000;
   color: #fff;
}

,.navigation ul li{
  
    border-right: 1px solid gray;
    padding: 10px;
}
.logo-list{
     background-color: red;
     color: white;
     text-transform: uppercase;
     height: 80px;
     padding-top: 20px;
 }
 .logo-img{
     text-align: center;
     width:150px;
     font-size: large;
     padding:5px;

 }
 .logo-img img{
     text-align: end;
 }

.return{
     padding-left: 15px;

     
   
 }
 
.second-nav{
    width:400px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-size: smaller;
    
}

.second-nav li:nth-child(1){
    background-color:transparent;
}

input[type="text"] {
    width: 300px;
    height: 15px;
    padding: 15px 80px 15px 15px;
    margin-left:-10px;
   
}

input[type="submit"] {
    margin-left: -70px;
    height: 20px;
    width: 60px;
    text-transform: uppercase;
    background-color: red;
    color: #fff;
    border: transparent;
    
}
/* second section */

.second-section h1{
    font-weight: bolder;
    font-size: xx-large;
    padding-top: 20px;
}

.text-navigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width:100%;
    padding-top: 5px;
}


.text-navigation span{
    color: rgb(122, 117, 117);
}

.second-ul{
    display: flex;
    justify-content: space-around;
    width:60%;
    color: rgb(9, 63, 243);
    text-transform: uppercase;

}

/* third-section */

.third-section{
    width:70%;
    margin-top: 30px;
    border-right: 1px solid rgb(182, 178, 178);
    padding:20px;
    float: left;
}

.third-section > p{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
}
.third-navigation ul{
    display: flex;
    justify-content: flex-start;
    margin-top:20px;
    flex-grow: 1;
    
}
.third-navigation ul li{
    border-right: 1px solid rgb(133, 131, 131);
    padding:20px;
    text-align: center;
    vertical-align: middle;
}

.third-navigation ul li:nth-child(1), .third-navigation ul li:nth-child(2){
    color: red;
}

.third-section .gray-text{
    color: gray;
    text-transform: lowercase;
    padding:10px;

}

.commodity-future h3{
    text-transform: uppercase;
    font-weight: bold;
}
.commodity-future p{
    padding:10px;
    border-bottom: 1px solid rgb(109, 106, 106);
}

.commodity-future p:nth-child(7){
    border-bottom: none;
}
.commodity-future span{
    color: rgb(8, 138, 170);
}

.thomson-reuters h3{
    text-transform: uppercase;
    font-weight: bold;
}
.thomson-reuters p{
    text-transform: lowercase;
    padding-top:10px;
}

.table table{
    margin-top:20px;
    width:100%;
}

table tr th{
    text-align: start;
    font-weight: bold;
}

.table tr td{
    border-top:1px solid #ccc ;
}

.table tr td:nth-child(1){
    color: rgb(8, 138, 170);
}

/* aside container */

.aside-container{
    width:30%;
    float: right;
    display: flow-root;
    
}

.aside-container header{
    width: 100%;
    background-color:rgb(5, 5, 145);
    color: #fff;
}
.aside-container header h1{
    text-transform: uppercase;
    font-weight: bolder;
    padding: 5px;
}
.market-ul{
    display: flex;
    justify-content: flex-start;
}

.market-ul li{
    padding:10px;
    font-size: smaller;
    background-color:rgb(9, 9, 99);
    margin-top:5px;
    margin-left:5px;

}

.market-ul li:first-child{
    background-color: rgb(156, 221, 252);
    color:rgb(9, 9, 99);
}

.sponsored{
    padding: 10px;
    background-color: rgb(156, 221, 252);
}

.sponsored span{
    font-size: 10px;
    color: rgb(121, 118, 118);
}

.sponsored input[type="button"]{
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    border-color: transparent;
}

/* market-indices and currency */

.market-indices, .currency, .commodities{
    display: flex;
    justify-content: space-between;
    padding:5px;
    background-color: rgb(156, 221, 252);
    border:1px solid #ccc;
}

.market-indices h2, .currency h2{
    font-size: bolder;
}

.market-indices span, .currency span{
    font-size: 12px;
    color: blue;
}

.input-text{
    margin-left: 20px;
    margin-top:10px;
    
}

.input-text input[type="text"]{
    width:410px;
}

.second-table table{
    width: 100%;
    
}

.second-table table tr td:first-child{
    color: rgb(56, 139, 247);
}

.second-table table tr td:nth-child(3){
    color: red;
}

.second-table table tr td{
    padding: 5px;
}

/* currency */

.third-table table, .forth-table table{
    width: 100%;
    
}

.third-table table tr td:first-child{
    color: rgb(56, 139, 247);
}

.third-table table tr td:nth-child(3){
    color: red;
}
.third-table table tr td{
    padding: 5px;
}

.forth-table table tr td:first-child{
    color: rgb(56, 139, 247);
}

.forth-table table tr td:nth-child(3), .forth-table table tr td:nth-child(4){
    color: rgb(5, 128, 5);
}